@import '../GlobalStyles/mixins';

.input-item {
    position: relative;
    width: 48%;
    margin-bottom: 25px;

    @include tablet {
        width: 100%;
    }

    &:nth-child(5) {
        width: 100%;
    }
}

.input,
.textarea {
    width: 100%;
    padding: 15px 20px 15px;
    color: #808080;
    font-size: 1.6rem;
    border: 1px solid var(--footer-link-color);
}

.textarea {
    height: 50px;
    min-height: 50px;
    max-height: 100px;
    max-width: 374px;
    outline: none;
}

.placeholder {
    color: #808080;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    letter-spacing: 1px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 14px;
    padding: 5px;
    background-color: white;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder,
.textarea:focus ~ .placeholder,
.textarea:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-25px) translateX(10px) scale(0.85);
}

.msg-error {
    margin-left: 25px;
    font-size: 1.4rem;
    margin-top: 5px;
    color: red;
}
