@import '../../components/GlobalStyles/mixins';

.header {
    @include mobile {
        position: absolute;
        left: 0;
        right: 0;
        background-color: var(--white-color);
    }
}

.cart-empty {
    margin-top: var(--margin-top);

    .cart-title {
        margin-bottom: 20px;
    }
}

.main {
    @include mobile {
        padding-top: 35px;
    }
}

.left {
    width: 65%;
    padding: 15px 15px 15px 0;

    @include tablet {
        padding: 15px 0 0;
    }
}

.cart-title {
    h1 {
        font-size: 3.4rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 5px;

        @include tablet {
            font-size: var(--title-mobile);

            p {
                font-size: 1.4rem;
            }
        }
    }

    .total-quantity {
        font-size: 1.7rem;
        margin-bottom: 8px;

        @include mobile {
            font-size: 1.6rem;
        }
    }

    .total-price {
        font-weight: 600;
    }
}

.cart-list {
    margin: 30px 0;
}

.cart-item {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--border-color);
}

.cart-item_avata {
    img {
        width: 100%;
        height: 90%;
    }
}

.cart-item_info {
    padding-left: 15px;
    display: flex;

    .product-name {
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 5px;

        @include mobile {
            font-size: 1.3rem;
        }
    }

    .product-size {
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-bottom: 5px;

        @include mobile {
            font-size: 1.3rem;
        }
    }

    .action {
        @include mobile {
            margin-bottom: 5px;

            .justify-content {
                justify-content: space-between;
            }

            .align-items {
                align-items: center;
            }
        }
    }

    .product-quantity {
        margin: 20px 0 15px;

        @include mobile {
            margin: 7px 0 7px;
        }
    }

    .cart-price__mobile {
        @include mobile {
            font-size: 1.4rem;
            font-weight: 500;
        }
    }

    .action-item {
        padding: 15px;
        font-size: 2rem;
        cursor: pointer;

        @include mobile {
            padding: 5px 10px 10px;
            font-size: 1.6rem;
        }

        &:first-child {
            padding-left: 0;
        }
    }
}

.item_price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right {
    width: 35%;
    padding: 75px 15px;

    @include tablet {
        padding: 0;
    }
}

.btn {
    margin-bottom: 25px;

    @include tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        bottom: -25px;
        left: 0px;
        right: 0px;
        padding: 15px 18px;
        background-color: var(--white-color);

        button {
            width: 100%;
        }
    }
}
.cart-usp {
    display: inline-block;

    @include tablet {
        display: none;
    }

    span {
        margin-right: 10px;
    }

    p {
        margin-bottom: 25px;
        cursor: pointer;

        &:hover {
            color: var(--white-color);
            background-color: var(--black);
        }
    }
}
