.buttonload {
    background-color: black;
    /* Green background */
    border: none;
    /* Remove borders */
    color: white;
    /* White text */
    padding: 12px 24px;
    /* Some padding */
    font-size: 16px;
    /* Set a font-size */
}