@import '../../../components/GlobalStyles/mixins';

.footer {
    .header {
        color: var(--black);
        background-color: #ede734;
    }

    .main {
        display: inline-table;
        width: 100%;
        height: 100px;
        background-color: #101010;
    }

    .container {
        height: 100%;
        width: 90.5%;
        margin: auto;
    }

    .newsletter {
        text-align: center;
        padding: 20px 0;
    }

    .newsletter_title {
        color: var(--black);
        font-weight: 600;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 10px;

        @include mobile {
            font-size: 1.6rem;
        }
    }

    .footer-btn {
        width: 88%;
        line-height: 35px;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 600;
        background-color: var(--footer-title-color);
        cursor: pointer;
    }

    .footer-btn span {
        margin-left: 10px;
    }

    .content {
        margin: 20px 0;
    }

    .main-item {
        @include mobile {
            text-align: center;
            margin-bottom: 15px;
        }

        .main-item__title {
            color: var(--white-color);
            font-weight: 600;
            font-size: 1.4rem;
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        .main-item__link {
            a,
            p {
                font-size: 1.4rem;
                line-height: 2.3rem;
                color: var(--footer-link-color);
                cursor: pointer;

                &:hover {
                    color: var(--white-color);
                }
            }
        }
    }

    .footer-bottom {
        width: 100%;
        background-color: #000;
        text-align: center;

        h4 {
            line-height: 45px;
            color: var(--footer-title-color);
            font-size: 1.3rem;
            font-weight: 400;

            @include mobile {
                font-size: 1rem;
            }
        }
    }
}
